<ion-view hide-nav-bar="false" title="" cache-view="false" hide-back-button="true">
    <ion-header-bar align-title="left" class="bar-subheader cus-sub-header">
        <span class="dash-user"><i class="icon ion-person"></i> {{authentication.name}}</span>
        <span class="fl-right date-pos" ng-click="openDatePicker();">
         
        <span style="display:inline-block;margin-top:3px;font-weight:500;">{{pendingDate}}</span>
        </span>
    </ion-header-bar>
    <form name="approveDGR"  novalidate>
        <ion-content class="padding has-header animated fadeIn mar-neg-lr-10" style="margin-bottom:50px;" has-bouncing="false">
            <div class="row">
                <div class="col ">
                    <div class="list">
                        <label class="item item-input item-select" style="padding:5px; ">
                            <div class="input-label">
                                Plant Name
                            </div>
                            <select ng-model="selectedItem" ng-options="plant as plant.name for plant in plants" ng-change="getPlants(selectedItem);">
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="error text-center " ng-if="pendingDateNull">
                {{pendingDateNull}}
            </div>
            <ion-list>
                <ion-scroll direction="x" class="wide-as-needed scroll-extra">
                    <a class="button m-r-5" ng-repeat="group in groups" ng-click="showDetails($index);" ng-class="($index == selectedRow)?'selected':''">UNIT {{group.name}}</a>
                </ion-scroll>
                <div class="unit-det-container">
                    <div class="list">
                        <label class="item-floating-label item item-input" ng-class="{'has-error': approveDGR.day_generation.$dirty && approveDGR.day_generation.$invalid}">
                            <span class="input-label">Generation</span>
                            <input type="tel" name="day_generation" class="item-floating-label" placeholder="Generation in KW" ng-model="data.day_generation" required ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.001">
                        </label>
                        <label class="item-floating-label item item-input" ng-class="{'has-error': approveDGR.runningHours.$error.time && approveDGR.runningHours.$invalid}">
                            <span class="input-label">Running Hours(HH:mm:ss)</span>
                            <input type="tel" name="runningHours" class="item-floating-label" placeholder="Running Hours(HH:mm:ss)" ng-model="data.runningHours" ui-time-mask required >
                        </label>
                        <label class="item-floating-label item item-input" ng-class="{'has-error': approveDGR.idleHours.$error.time && approveDGR.idleHours.$invalid}">
                            <span class="input-label">Idle Hours (HH:mm:ss)</span>
                            <input type="tel" name="idleHours" class="item-floating-label" placeholder="Idle Hours (HH:mm:ss)" ng-model="data.idleHours" ui-time-mask required >
                        </label>
                        <label class="item-floating-label item item-input" ng-class="{'has-error': approveDGR.stoppageHours.$error.time && approveDGR.stoppageHours.$invalid}">
                            <span class="input-label">Stoppage Hours (HH:mm:ss)</span>
                            <input type="tel" name="stoppageHours" class="item-floating-label" placeholder="Stoppage Hours (HH:mm:ss)" ng-model="data.stoppageHours" ui-time-mask required >
                        </label>
                        <label class="item-floating-label item item-input" ng-class="{'has-error': approveDGR.unitLoad.$dirty && approveDGR.unitLoad.$invalid}">
                            <span class="input-label">Avg. Unit Load</span>
                            <input type="tel" name="unitLoad" class="item-floating-label" placeholder="Avg. Unit Load" ng-model="data.unitLoad" required ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.001" >
                        </label>
                        <label class="item-floating-label item item-input" ng-class="{'has-error': approveDGR.unitDischarge.$dirty && approveDGR.unitDischarge.$invalid}">
                            <span class="input-label">Unit Discharge</span>
                            <input type="tel" name="unitDischarge" class="item-floating-label" placeholder="Unit Discharge" ng-model="data.unitdischarge" required ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.001" >
                        </label>
                        <label class="item-floating-label item item-input">
                            <span class="input-label">Remarks</span>
                            <input type="text" name="remarks" class="item-floating-label" placeholder="Remarks" ng-model="data.remarks">
                        </label>
                        <label class="item-floating-label item item-input" ng-class="{'has-error': approveDGR.machineAvailability.$dirty && approveDGR.machineAvailability.$invalid}">
                            <span class="input-label">Machine Availability</span>
                            <input type="tel" name="machineAvailability" class="item-floating-label" placeholder="Machine Availability" ng-model="data.machineAvailability" required ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.001" >
                        </label>
                    </div>
                </div>
            </ion-list>
        </ion-content>
        </form>
        <div class="tabs dashboardTabsStyle" style="background-color:transparent !important;">
            <button class="button button-stable button-block  button-clear" ng-click="submitunitLevelData(data)" style="border-radius:0px;background-color:#549FD6;font-size:16px;color:white;opacity:1;margin-top: 0px;" ng-disabled="pendingDateNull">
                UPDATE
            </button>
            <!-- <button ng-click="toggleGroup(group)" class="button button-assertive button-small" type="submit">
                            CANCEL
                        </button> -->
                         
            <button class="button button-energized button-block  button-clear" ng-click="ApproveHydroData()" ng-disabled="!pendingDate" style="border-radius:0px;background-color:#292929;border:1px solid #292929;font-size:16px;color:white;opacity:1;margin-top: 0px;z-index:10;" ng-disabled="pendingDateNull">
                APPROVE
            </button>
        </div>
   
</ion-view>
